.titel, .newEntry
{
	//border:  2px solid #000000;
	margin: 5px 2% 0px 2%;
	width: 96%;
}

.liste
{
	//border:  2px solid #000000;
	padding:5px;
	margin: 5px 2% 5px 2%;
	widht: 95%;
	cursor:pointer;
	transition: background-color 0.5s, margin 0.5s;
	-webkit-transition: background-color 0.5s, margin 0.5s;
}

.liste:hover {
	
	background-color:#E8E8E8;
	margin-left:3%;
	
}

.panel,.flip
{
	padding:5px;
	text-align:left;
	border:solid 1px #c3c3c3;
	border-radius:9px;
}

.flip
{
	font-size: 20px;
	padding-left:15px;
	margin: 20px 5% 0px 5%;
	box-shadow:3px 3px 3px 3px #E0E0E0;
	cursor:pointer;
}


.panel
{
	padding:5px;
	display:none;
	margin: 0px 6% 0px 6%;
	position: relative;
	border-top:0px;
	border-radius:0px 0px 9px 9px !important;
	box-shadow:3px 3px 3px 3px #E0E0E0;
}

.top
{
	display: none;
}

#overlay
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #c8c8c8; 
	z-index: 1000;
	opacity:0.7;
}

#popup
{
	border: solid 2px #000000;
	background-color: #ffffff;
	position: absolute;
	width: 50%;
	height: 100px;
	margin-top: 10%;
	margin-left: 25%;
	margin-right: 25%;
	z-index: 2000;
	text-align: center;
	padding: 10px;
	opacity:1;
	border-radius:12px;
}

#popup_container {
	
	position:relative;
	top:40%;
	bottom:40%;
	height:20%;
}

#allgemein
{
	background-color: #D3F3FF;
}

#juka
{
	background-color: #e78a3f;
}

#coffoom
{
	background-color: #a2437f;
}

#panel_allg
{
	//background-color: #0048ff;
	//margin:0px 5px;
}

#panel_juka
{
	//background-color: #e78a3f;
}

#panel_coffoom
{
	//background-color: #a2437f;
}
